.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
market/
art/
*.iml
app/google-services.json
app/google-services_prod.json
app/google-services_dev.json
*BillingConstants.kt
*AnalyticsConstants.java
*AnalyticsConstants.kt
app/fabric.properties
*ApiConstants.java
secrets.tar
