<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.curiousily.ipoli">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.iPoli">

        <activity
            android:name=".schedule.DailyScheduleActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".schedule.CalendarScheduleActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".InviteOnlyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".quest.QuestDetailActivity"
            android:parentActivityName=".schedule.DailyScheduleActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".schedule.DailyScheduleActivity" />
        </activity>

        <activity
            android:name=".quest.AddQuestActivity"
            android:parentActivityName=".schedule.DailyScheduleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".schedule.DailyScheduleActivity" />
        </activity>

        <service
            android:name=".quest.services.QuestService"
            android:exported="false" />

        <activity
            android:name=".snippet.NewSnippetActivity"
            android:label="@string/new_snippet_label"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.iPoli.AlertDialog" />

        <service android:name=".app.services.ReminderIntentService" />

        <receiver android:name=".app.receivers.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Widgets !-->

        <receiver
            android:name=".snippet.widget.SnippetWidgetProvider"
            android:icon="@mipmap/ic_launcher"
            android:label="1 Quick Note">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/input_widget_info" />
        </receiver>

        <!-- Analytics !-->

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
