<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ipoli.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.iPoli">
        <activity
            android:name=".InviteOnlyActivity"
            android:label="@string/title_activity_chat"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".chat.ChatActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".quest.PlanDayActivity"
            android:label="@string/title_activity_plan_day"
            android:parentActivityName=".chat.ChatActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.ipoli.android.chat.ChatActivity" />

        </activity>
        <activity
            android:name=".quest.QuestListActivity"
            android:label="@string/title_activity_quest_list"
            android:parentActivityName=".chat.ChatActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.ipoli.android.chat.ChatActivity" />


        </activity>
        <activity
            android:name=".assistant.PickAvatarActivity"
            android:label="@string/title_activity_pick_avatar"
            android:parentActivityName=".chat.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.iPoli.DialogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.ipoli.android.chat.ChatActivity" />
        </activity>

        <activity
            android:name=".quest.QuestCompleteActivity"
            android:label="@string/title_activity_quest_complete"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.iPoli.DialogActivity" />

        <activity
            android:name=".player.LevelUpActivity"
            android:label="@string/title_activity_level_up"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.iPoli.DialogActivity" />

        <activity
            android:name=".quest.EditQuestActivity"
            android:label="@string/title_activity_edit_quest"
            android:screenOrientation="portrait" />

        <service android:name=".app.services.ReminderIntentService" />
        <service android:name=".quest.services.UpdateQuestIntentService" />
        <service android:name=".quest.services.QuestTimerIntentService" />

        <receiver android:name=".app.receivers.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Analytics ! -->

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
