<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ipoli.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.iPoli">
        <activity
            android:name=".InviteOnlyActivity"
            android:label="@string/title_activity_invite"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.CalendarDayActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".quest.activities.OverviewActivity"
            android:label="@string/title_activity_inbox"
            android:screenOrientation="portrait" />

        <activity
            android:name=".quest.activities.HabitsActivity"
            android:label="@string/title_activity_inbox"
            android:screenOrientation="portrait" />

        <activity
            android:name=".quest.activities.InboxActivity"
            android:label="@string/title_activity_inbox"
            android:screenOrientation="portrait" />

        <activity
            android:name=".quest.activities.QuestActivity"
            android:parentActivityName=".app.CalendarDayActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.CalendarDayActivity" />
        </activity>

        <activity
            android:name=".assistant.PickAvatarActivity"
            android:label="@string/title_activity_pick_avatar"
            android:parentActivityName=".app.CalendarDayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.iPoli.DialogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.CalendarDayActivity" />
        </activity>

        <activity
            android:name=".quest.activities.AddQuestActivity"
            android:label="@string/title_activity_add_quest"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <activity
            android:name=".quest.activities.QuestCompleteActivity"
            android:label="@string/title_activity_quest_complete"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.iPoli.DialogActivity" />

        <activity
            android:name=".player.LevelUpActivity"
            android:label="@string/title_activity_level_up"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.iPoli.DialogActivity" />

        <activity
            android:name=".quest.activities.EditQuestActivity"
            android:label="@string/title_activity_edit_quest"
            android:screenOrientation="portrait" />

        <receiver android:name=".app.receivers.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".app.receivers.PlanDayReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.ipoli.android.intent.action.REMIND_PLAN_DAY" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".app.receivers.ReviewDayReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.ipoli.android.intent.action.REMIND_REVIEW_DAY" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".quest.receivers.ScheduleQuestReminderReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.ipoli.android.intent.action.SCHEDULE_QUEST_REMINDER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".quest.receivers.SnoozeQuestReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.ipoli.android.intent.action.SNOOZE_QUEST" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".quest.receivers.ShowDoneQuestNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.ipoli.android.intent.action.SHOW_DONE_QUEST_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".quest.receivers.StartQuestTimerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.ipoli.android.intent.action.SHOW_QUEST_TIMER" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".quest.receivers.RemindStartQuestReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.ipoli.android.intent.action.REMIND_START_QUEST" />
            </intent-filter>
        </receiver>

        <service
            android:name=".app.services.AppJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- Analytics ! -->

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
